header{
    position: absolute;
    right: 0%;
    left: 0px;
    top: 0px;
    bottom: 0%;
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
}
.vector{
    position: absolute;
    left: 46.6%;
    right: 46.57%;
    top: 9.72%;
    bottom: 5.11%;
}
.nossos:hover{
    text-decoration: underline;
    color: #333333;
}
.quem:hover{
    text-decoration: underline;
    color: #333333;
}
.quem{
    position: absolute;
    left: 73.14%;
    right: 16.14%;
    top: 38.46%;
    bottom: 38.46%;
    font-style: normal;
    font-weight: bold;
    font-size: 170%;
    line-height: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #333333;
  
}
.nossos {
    position: absolute;
    left: 15.64%;
    right: 68.5%;
    top: 38.46%;
    bottom: 38.46%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    
}
