/*
|\     /|(  ____ \(  ___  )(  __  \ (  ____ \(  ____ )
| )   ( || (    \/| (   ) || (  \  )| (    \/| (    )|
| (___) || (__    | (___) || |   ) || (__    | (____)|
|  ___  ||  __)   |  ___  || |   | ||  __)   |     __)
| (   ) || (      | (   ) || |   ) || (      | (\ (   
| )   ( || (____/\| )   ( || (__/  )| (____/\| ) \ \__
|/     \|(_______/|/     \|(______/ (_______/|/   \__/
*/
header{
    position: absolute;
    right: 0%;
    left: 0px;
    top: 0px;
    bottom: 0%;
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
}
.vector{
    position: absolute;
    left: 46.6%;
    right: 46.57%;
    top: 9.72%;
    bottom: 5.11%;
}
.nossos:hover{
    text-decoration: underline;
    color: #333333;
}
.quem:hover{
    text-decoration: underline;
    color: #333333;
}
.quem{
    position: absolute;
    left: 73.14%;
    right: 16.14%;
    top: 38.46%;
    bottom: 38.46%;
    font-style: normal;
    font-weight: bold;
    font-size: 170%;
    line-height: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #333333;
  
}
.nossos {
    position: absolute;
    left: 15.64%;
    right: 68.5%;
    top: 38.46%;
    bottom: 38.46%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    
}
/*_____  ________   ______________________________
(  ___  )(  __  \ (  ___  )\__   __/(  ____ \
| (   ) || (  \  )| (   ) |   ) (   | (    \/
| (___) || |   ) || |   | |   | |   | (__    
|  ___  || |   | || |   | |   | |   |  __)   
| (   ) || |   ) || |   | |   | |   | (      
| )   ( || (__/  )| (___) |   | |   | (____/\
|/     \|(______/ (_______)   )_(   (_______/        \/ 
*/
.texto-adote h1{
    position: absolute;
    width: 45rem;
    top: 250px;
    left: 0%;
    margin-left: 30%;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-size: 96px;
    color: #FFFFFF;  
}
.texto-adote p{
    position: absolute;
    width: 45rem;
    margin-left: 30%;
    right: auto;
    top: 413px;
    font-family: 'Darker Grotesque' , sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}
.texto-adote p:hover{
    
    position: absolute;
    transition: 500ms;
    font-size: 31.9px;
    width: 45.8rem;
   
}
.texto-adote h1:hover{
   font-size: 100px;
   transition: 500ms;
   color: white;
   text-decoration: underline;
}
.imagem-lobo {
    background-image: url(/assets/lobo-home-page.png);
    position: absolute;
    width: 100%;
    background-size: cover;
    height:41.25rem;  
    left: 0px;
    top: 130px;  
}
/*(  ____ \(  ___  )(  ___ \ (  ____ )(  ____ \
| (    \/| (   ) || (   ) )| (    )|| (    \/
| (_____ | |   | || (__/ / | (____)|| (__    
(_____  )| |   | ||  __ (  |     __)|  __)   
      ) || |   | || (  \ \ | (\ (   | (      
/\____) || (___) || )___) )| ) \ \__| (____/\
\_______)(_______)|/ \___/ |/   \__/(_______/*/
.sobre{
    position: absolute;
    width: 100%;
    height: 533px;
    left: 0px;
    top: 630px;

    background: #2C5680;
}
#sobre-text{
    position: absolute;
    margin-left: 46%;
    margin-top: 2%;
    font-family: 'Darker Grotesque',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    line-height: 65px;
    color: #DEB959;
}
#texto-sobre{
    position: absolute;
    width: 55rem;
    margin-left: 25%;
    margin-top: -13%;
    top: 413px;
    font-family: 'Darker Grotesque' , sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}
/*
|\     /|(  ___  )( \      (  ___  )(  ____ )(  ____ \(  ____ \
| )   ( || (   ) || (      | (   ) || (    )|| (    \/| (    \/
| |   | || (___) || |      | |   | || (____)|| (__    | (_____ 
( (   ) )|  ___  || |      | |   | ||     __)|  __)   (_____  )
 \ \_/ / | (   ) || |      | |   | || (\ (   | (            ) |
  \   /  | )   ( || (____/\| (___) || ) \ \__| (____/\/\____) |
   \_/   |/     \|(_______/(_______)|/   \__/(_______/\_______)*/
#valores{
    position: absolute;
    width: 100%;
    height: 625px;
    left: 0px;
    top: 523px;
    background: #333333;
}
.valores-text{
    position: absolute;
    left: 0;
    margin-left: 45%;
    top: 4%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
}
.protecao{
    position: absolute;
    top: 320px;
    left: 257px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color:#FFFFFF;
}


.container-img-protecao img{
    position: absolute;
    background: white;
    padding: 20px;
    width: 109px;
    height: 109px;
    left: 237px;
    top: 1433px;
    border-radius: 50%;
}
.container-img-carinho img{
    position: absolute;
    background: white;
    padding: 20px;
    width: 109px;
    height: 109px;
    left: 597px;
    top: 1433px;
    border-radius: 50%;
}
.container-img-companheirismo {
    position: absolute;
    background: white;
    padding: 20px;
    width: 109px;
    height: 109px;
    left: 1020px;
    top: 1432px;
    border-radius: 50%;
}
.container-img-resgate{
    position: absolute;
    background: white;
    padding: 20px;
    width: 109px;
    height: 109px;
    left: 1485px;
    top: 1433px;
    border-radius: 50%;
}

.carinho{
    position: absolute;
    top: 320px;
    left: 620px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color:#FFFFFF;
}
.companheiro{
    position: absolute;
    top: 320px;
    left: 987px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color:#FFFFFF;
}
.resgate{
    position: absolute;
    top: 320px;
    left: 1508px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color:#FFFFFF;
}
.texto-protecao h3{
    position: absolute;
    width: 195px;
    height: 140px;
    left: 219px;
    top: 1681px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.texto-carinho h3{
    position: absolute;
    width: 195px;
    height: 140px;
    left: 575px;
    top: 1681px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}
.texto-companheiro h3{
    position: absolute;
    width: 195px;
    height: 140px;
    left: 1000px;
    top: 1681px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.texto-resgate h3{
    position: absolute;
    width: 195px;
    height: 140px;
    left: 1460px;
    top: 1681px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
/*
 _        _______  ______   _______  _______ 
( \      (  ___  )(  ___ \ (  ___  )(  ____ \
| (      | (   ) || (   ) )| (   ) || (    \/
| |      | |   | || (__/ / | |   | || (_____ 
| |      | |   | ||  __ (  | |   | |(_____  )
| |      | |   | || (  \ \ | |   | |      ) |
| (____/\| (___) || )___) )| (___) |/\____) |
(_______/(_______)|/ \___/ (_______)\_______)
                                             
 _______           _______  _______  _______  _        _______ 
(  ____ \|\     /|(  ____ \(       )(  ____ )( \      (  ___  )
| (    \/( \   / )| (    \/| () () || (    )|| (      | (   ) |
| (__     \ (_) / | (__    | || || || (____)|| |      | |   | |
|  __)     ) _ (  |  __)   | |(_)| ||  _____)| |      | |   | |
| (       / ( ) \ | (      | |   | || (      | |      | |   | |
| (____/\( /   \ )| (____/\| )   ( || )      | (____/\| (___) |
(_______/|/     \|(_______/|/     \||/       (_______/(_______)*/
#lobos-exemplo{
    position: relative;
    height: 1850px;
    top: 130px;
}

.lobos-texto{
    position: absolute;
    margin-left: 41%;
    top: 525px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
}
#detalhe-da-imagem{
    position: absolute;
    width: 430px;
    height: 328px;
    left: 380px;
    top: 653px;
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;

}
#detalhe-da-imagem2{
    position: absolute;
    width: 430px;
    height: 328px;
    left: 1089px;
    top: 1255px;
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
}
#imagem-lobo1-exemplo{
    width: 424px;
    height: 326px;
    margin-left: 30px;
    margin-top: 30px;
    top: 1402px;
    background: url(/assets/lobo1-exemplo.png);
}
#imagem-lobo2-exemplo{
    position: absolute;
    width: 424px;
    height: 327px;
    left: 1065px;
    top: 1282px;
    background: url(/assets/lobo2-exemplo.png);
}
.nome-lobo1 h2{
    position: absolute;
    width: 199px;
    height: 49px;
    left: 910px;
    top: 685px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
.idade-lobo1 h3{
    position: absolute;
    width: 210px;
    height: 40px;
    left:910px;
    top: 754px;
    font-family: 'Darker Grotesque;'sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.descricao-lobo1{
    position: absolute;
    width: 461px;
    height: 235px;
    left: 910px;
    top: 829px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
}
.nome-lobo2 h2{
    position: absolute;
    width: 213px;
    height: 29px;
    left: 792px;
    top: 1239px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
.idade-lobo2 h3{
    position: absolute;
    width: 213px;
    height: 29px;
    left: 863px;
    top: 1300px;
    font-family: 'Darker Grotesque;'sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.descricao-lobo2{
    position: absolute;
    width: 461px;
    height: 235px;
    left: 560px;
    top: 1350px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
}
/*
(  ____ \(  ___  )(  ___  )\__   __/(  ____ \(  ____ )
| (    \/| (   ) || (   ) |   ) (   | (    \/| (    )|
| (__    | |   | || |   | |   | |   | (__    | (____)|
|  __)   | |   | || |   | |   | |   |  __)   |     __)
| (      | |   | || |   | |   | |   | (      | (\ (   
| )      | (___) || (___) |   | |   | (____/\| ) \ \__
|/       (_______)(_______)   )_(   (_______/|/   \__/
*/                                                     
div footer{
    background: #333333;
    height: 280px;
}
.informacoes{
    position: absolute;
    left: 600px;
    margin-top: 40px;
   
}
.informacoes h2{
    margin-top: 20px;
    width: 400px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 15px;
    color: #FFFFFF;
}
.informacoes a{
    position: absolute;
    background-color: #DEB959;
    top: 120px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
}
.mapa{
    position: absolute;
    left: 13%;
    top: 1900px;
}
.paws {
    position: absolute;
    left: 1600px;
    top: 1950px;
}