
#quem-somos h2{
    position: absolute;
    width: 611.59px;
    height: 56px;
    left: 35%;
    top: 290px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    
    color: #000000;
} 
#quem-somos h3{
    position: absolute;
    width: 900px;
    left: 29%;
    height: 134px;
    top: 466px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.155em;

    color: #000000;
}
footer{
    position: absolute;
    background: #333333;
    top: 90%;
    width: 100%;
    height: 250px;
}
footer h2{
    left: 38.64%;
    right: 36.64%;
    top: 20.36%;
    bottom: 100.73%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}
.informacoes{
    position: absolute;
    left: 600px;
    margin-top: 80px;
   
   
}
.informacoes h2{
    margin-top: 20px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 15px;
    color: #FFFFFF;
}
#informacoes a{
    position: absolute;
    left: 37.21%;
    right: 53.86%;
    top: 71.27%;
    bottom: 21.09%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
}
.mapa{
    position: absolute;
    left: 13%;
    right: 54.79%;
    top: 50px;
}
.paws {
    position: absolute;
    left: 1600px;
    top: 100px;
}