div h1{
    position: absolute;
    top: 180px;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;

}
footer{
    position: absolute;
    background: #333333;
    top: 90%;
    width: 100%;
    height: 250px;
}
footer h2{
    left: 38.64%;
    right: 36.64%;
    top: 20.36%;
    bottom: 100.73%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;
}
#mapa{
    position: absolute;
    width: 250px;
    height: 167px;
    left: 13.57%;
    right: 54.79%;
    top: -00.91%;
    bottom: 5.45%;
    background: url(/assets/mapa.png);
}